body {
    /*
    background-color: #f8f8f8;
    background: url(./images/grid.png) repeat-x;
    */
}

p {
    text-align: justify;
}

div.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

div.admonition.note {
    color: #3a87ad;
    background-color: #f0f6fa;
    border-color: #bce8f1;
}